@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media print {
  @page {
    margin: 0;
  }
  body {
    margin: 1cm;
  }
  header,
  .print-hide {
    display: none !important;
  }
  .print-break-inside-avoid {
    break-inside: avoid;
  }
}

/* Add any additional custom styles here */
